* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Bebas Neue, sans-serif;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('Assets/Fonts/BebasNeue-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans';
    src: url('Assets/Fonts/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
}

footer {
    position: relative;
    width: 100%;
    display: flex;
    background-color: #282828;
    min-height: 100px;
    padding: 20px 50px;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social_icons, footer .nav-bar_footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    flex-wrap: nowrap;
}

footer .social_icons li, footer .nav-bar_footer li {
    list-style: none;
}

footer .social_icons li a {
    font-size: 2em;
    color: white;
    margin: 0px 10px;
    display: inline-block;
    transition: 0.5s ease;
}

footer .social_icons li a:hover {
    transform: translateY(-10px);
}

footer .nav-bar_footer li a {
    font-size: 1.2em;
    color: white;
    margin: 0px 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}

footer .nav-bar_footer li a:hover {
    opacity: 1;
}

footer p {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(Assets/Images/wave.png);
    background-size: 1000px 100px;
}

footer .wave#wave1 {
    z-index: 10;
    opacity: 1;
    bottom: 0px;
    animation: animateWave_1 4s linear infinite;
}

footer .wave#wave2 {
    z-index: 9;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_2 4s linear infinite;
}

footer .wave#wave3 {
    z-index: 10;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave_1 3s linear infinite;
}

footer .wave#wave4 {
    z-index: 9;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_2 3s linear infinite;
}

@keyframes animateWave_1 {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-position-x: 0px;
    }
}

@keyframes animateWave_2 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}

.carousel-container {
    padding: 0px 10px ;
    position: relative;
    scroll-behavior: smooth;
  }
  
  .carousel-container h3 {
      color: rgb(213, 213, 213);
      font-weight: bold;
      margin: 30px 0px 10px 1%;
    }
  
  .carousel {
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
  }
  
  .carousel img {
    height: 20vh;
    object-fit: cover;
    width: calc(100% / 4.5);
    margin-left: 10px;
    border-radius: 15px;
  }
  
  .carousel img:first-child {
      margin-left: 0px;
    }
  
  .carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
  }
  
  .carousel.dragging img {
    pointer-events: none;
  }
  
  .carousel-container i {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    background-color: rgba(56, 56, 56, 0.333);
    color: rgb(225, 225, 225);
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.2rem;
  }
  
  .carousel-container i:hover {
      background-color: rgba(32, 32, 32, 0.466);
      color: white;
    }
  
  .carousel-container i:first-child {
    left: 0px;
    display: none;
  }
  
  .carousel-container i:last-child {
    right: -10px;
  }

ul.dots li.active {
    width: 30px;
}

ul.dots li {
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: white;
    margin: 20px;
    border-radius: 20px;
    transition: 1s;
    cursor: pointer;
}

.slider ul.dots {
    position: absolute;
    bottom: 10px;
    color: #fff;
    left: 0%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.buttons button:hover {
    cursor: pointer;
    background-color: rgba(32, 32, 32, 0.466);
    color: #fff;
}

.buttons button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(56, 56, 56, 0.333);
    color: #d1d1d1;
    border: none;
    font-family: monospace;
    font-weight: bold;
    font-size: 2em;
    transition: 0.5s;
}

.slider .buttons {
    position: absolute;
    top: 45%;
    left: 1%;
    width: 98%;
    display: flex;
    justify-content: space-between;
}

.list .shadow-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px; /* Chiều cao của bóng mờ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    filter: blur(50px); 
    pointer-events: none; /* Đảm bảo rằng bóng mờ không chặn các sự kiện chuột */
}

.list img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.slider .list {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: max-content;
    display: flex;
    transition: 1s;
    cursor: pointer;
    gap: 5px;
}

.slider {
    width: 100%;
    /* height: 565px; */
    height: 89vh;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
}

.container-text-top_rated p.rated {
    font-size: 80%;
}

.container-text-top_rated p.released {
    font-size: 85%;
    color: white;
    letter-spacing: 2px;
}

.container-text-top_rated {
    width: 65%;
    height: auto;
    text-align: left;
    line-height: 35px;
}

.container-text-top_rated p.title {
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: Open Sans;
}

.top_rated-items img.top_rated {
    width: 35%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
}

.container-top_rated .top_rated-items:hover {
    cursor: pointer;
    background-color: #3a3a3a;
}

.container-top_rated .top_rated-items {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-bottom: 15px;
    border-radius: 15px 0px 0px 15px;
    transition: all 0.3s ease;
}

.container-top_rated {
    display: block;
    width: 100%;
    height: auto;
}

ul.genre-right li:hover a, ul.genre-left li:hover a {
    color: black;
}

ul.genre-right li a, ul.genre-left li a {
    text-decoration: none;
    color: white;
    font-family: Open Sans;
}

ul.genre-right li:hover, ul.genre-left li:hover {
    background-color: white;
    cursor: pointer;
}

ul.genre-right li, ul.genre-left li {
    list-style: none;
    margin-bottom: 10px;
    padding: 6px 10px;
    border-radius: 25px;
    background-color: #1c1c1c;
    transition: all 0.5s ease;
}

.container-genre ul.genre-right, .container-genre ul.genre-left {
    display: block;
    width: 50%;
    height: auto;
}

nav.sub-nav .container-genre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-bottom: 20px;
}

nav.sub-nav h3 {
    color: white;
    margin-bottom: 15px;
    font-family: Open Sans;
}

.container nav.sub-nav {
    width: 18vw;
    height: 100%;
    padding: 1.5%;
    border-radius: 25px 0px 0px 25px;
    background-color: #333;
    z-index: 9998;
}

.container .content {
    width: 78vw;
    height: auto;
    margin: 0 auto;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    padding-top: 65px;
    gap: 10px;
}

.menu-tablet, .menu-mobile, .fa-bars, .container-search-tablet {
    display: none;
}

.menu-pc {
    width: 75%;
    display: flex;
    gap: 11px;
}

i.fa-solid.fa-magnifying-glass {
    font-size: 15px;
    color: white;
    position: absolute;
    left: 4%;
    top: 12px;
}

i.fa-regular.fa-bell {
    font-size: 1.2rem;
    color: white;
    padding: 10px 10%;
    transition: 0.5s ease;
}

i.fa-regular.fa-bell:hover {
    color: red;
    cursor: pointer;
}

.find {
    display: flex;
    position: relative;
    cursor: pointer;
    width: 30%;
}

.personal {
    width: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

li.cap-1 {
    padding: 1%;
    list-style: none;
    font-family: Open Sans;
}

li.cap-1:hover a {
    color: red;
}

ul.menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 70px;
}

.logo {
    width: 10%;
    cursor: pointer;
}

nav.nav-bar {
    padding: 10px 2.5% 10px 1.5%;
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    position: fixed;
    z-index: 9999;
}

.logo img {
    width: 100%;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 8% 0px;
    transition: 0.5s ease;
}

.personal img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid transparent;
    transition: 0.1s ease;
}

.personal img:hover {
    cursor: pointer;
    border: 3px solid transparent;
}

.find input {
    padding: 5px 5px 5px 30px;
    border-radius: 25px;
    color: white;
    background-color: #333;
    border: 1px solid #333;
    width: 100%;
}

#here {
    border: 1px solid white;
    border-radius: 25px;
    width: 100px;
    background-color: white;
}

#here a {
    color: black;
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .menu-pc, .logo, .fa-bars {
        display: none;
    }

    nav.nav-bar {
        position: fixed;
        justify-content: space-between;
        z-index: 9999;
    }

    .menu-tablet {
        width: 80%;
        display: flex;
        gap: 50px;
    }

    .menu-tablet .menu {
        width: 100%;
        gap: 20px;
    }

    .menu a {
        font-size: 100%;
        font-family: Open Sans;
    }

    .personal {
        width: 20%;
    }

    .container .content {
        width: 72%;
        padding-left: 1.5%;
    }

    .container nav.sub-nav {
        width: 28%;
    }

    .slider {
        height: 30vh;
    }

    .carousel img {
        height: 10vh;
        width: calc(100% / 3.5);
    }
}

/* Moblie */
@media (max-width: 739px) {
    .menu-pc, .menu-tablet, .find, .logo, .nav-bar .find, nav.sub-nav{
        display: none;
    }

    .nav-bar {
        position: fixed;
        width: 100vw;
    }

    .menu-mobile {
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menu-mobile .fa-bars {
        position: relative;
        color: white;
        font-size: 20px;
        padding: 13px 20px;
        cursor: pointer;
    }

    .menu-mobile .fa-bars:hover ul.menu {
        display: block;
    }

    .personal {
        width: 30%;
    }

    ul.menu {
        position: absolute;
        display: none;
        width: 100vw;
        height: auto;
        padding: 30px 0px;
        line-height: 50px;
        top: 100%;
        left: 0%;
        align-items: center;
        justify-content: center;
        text-align: center;
        -webkit-backdrop-filter: blur(30px);
        backdrop-filter: blur(30px);
        box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
        border: 2px solid rgba(0, 0, 0, 0.18);
        background-color:rgb(86, 86, 86, 0.18);
    }

    .menu-mobile .find {
        display: flex;
        position: relative;
        cursor: pointer;
        width: 80%;
        margin: 20px auto;
    }

    .find input {
        padding: 5px 5px 5px 40px;
        border-radius: 15px;
        color: white;
        font-size: 1em;
    }

    .menu a {
        letter-spacing: 3px;
    }

    .container .content {
        width: 100%;
        padding: 10px;
    }

    .slider {
        height: 25vh;
    }

    .slider .list {
        gap: 15px;
    }

    .carousel img {
        height: 10vh;
        width: calc(100% / 2.5);
    }

    footer {
        padding: 20px 5px;
    }

    footer .nav-bar_footer li a {
        font-size: 1.1em;
        margin: 7px;
    }
}