* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Bebas Neue, sans-serif;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../Assets/Fonts/BebasNeue-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans';
    src: url('../Assets/Fonts/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
}

/* Navigation section */
.menu-tablet, .menu-mobile, .fa-bars, .container-search-tablet {
    display: none;
}

.menu-pc {
    width: 75%;
    display: flex;
    gap: 11px;
}

i.fa-solid.fa-magnifying-glass {
    font-size: 15px;
    color: white;
    position: absolute;
    left: 4%;
    top: 12px;
}

i.fa-regular.fa-bell {
    font-size: 1.2rem;
    color: white;
    padding: 10px 10%;
    transition: 0.5s ease;
}

i.fa-regular.fa-bell:hover {
    color: red;
    cursor: pointer;
}

.find {
    display: flex;
    position: relative;
    cursor: pointer;
    width: 30%;
}

.personal {
    width: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

li.cap-1 {
    padding: 1%;
    list-style: none;
    font-family: Open Sans;
}

li.cap-1:hover a {
    color: red;
}

ul.menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 70px;
}

.logo {
    width: 10%;
    cursor: pointer;
}

nav.nav-bar {
    padding: 10px 2.5% 10px 1.5%;
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    position: fixed;
    z-index: 9999;
}

.logo img {
    width: 100%;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 8% 0px;
    transition: 0.5s ease;
}

.personal img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid transparent;
    transition: 0.1s ease;
}

.personal img:hover {
    cursor: pointer;
    border: 3px solid transparent;
}

.find input {
    padding: 5px 5px 5px 30px;
    border-radius: 25px;
    color: white;
    background-color: #333;
    border: 1px solid #333;
    width: 100%;
}

#here {
    border: 1px solid white;
    border-radius: 25px;
    width: 100px;
    background-color: white;
}

#here a {
    color: black;
}

/* Container section */
.container {
    width: 85%;
    height: auto;
    padding-top: 65px;
    margin: auto;
}

.container .item {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0px;
}

h2 {
    color: white;
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    color: white;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 20px;
    text-align: justify;
    letter-spacing: -1px;
}   

/* Footer section */
footer {
    position: relative;
    width: 100%;
    display: flex;
    background-color: #282828;
    min-height: 100px;
    padding: 20px 50px;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social_icons, footer .nav-bar_footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    flex-wrap: nowrap;
}

footer .social_icons li, footer .nav-bar_footer li {
    list-style: none;
}

footer .social_icons li a {
    font-size: 2em;
    color: white;
    margin: 0px 10px;
    display: inline-block;
    transition: 0.5s ease;
}

footer .social_icons li a:hover {
    transform: translateY(-10px);
}

footer .nav-bar_footer li a {
    font-size: 1.2em;
    color: white;
    margin: 0px 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}

footer .nav-bar_footer li a:hover {
    opacity: 1;
}

footer p {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../Assets/Images/wave.png);
    background-size: 1000px 100px;
}

footer .wave#wave1 {
    z-index: 10;
    opacity: 1;
    bottom: 0px;
    animation: animateWave_1 4s linear infinite;
}

footer .wave#wave2 {
    z-index: 9;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_2 4s linear infinite;
}

footer .wave#wave3 {
    z-index: 10;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave_1 3s linear infinite;
}

footer .wave#wave4 {
    z-index: 9;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_2 3s linear infinite;
}

@keyframes animateWave_1 {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-position-x: 0px;
    }
}

@keyframes animateWave_2 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    /* Navigation */
    .menu-pc, .logo, .fa-bars {
        display: none;
    }

    nav.nav-bar {
        position: fixed;
        justify-content: space-between;
        z-index: 9999;
    }

    .menu-tablet {
        width: 80%;
        display: flex;
        gap: 50px;
    }

    .menu-tablet .menu {
        width: 100%;
        gap: 20px;
    }

    .menu a {
        font-size: 100%;
        font-family: Open Sans;
    }

    .personal {
        width: 20%;
    }
}

/* * Moblie */
@media (max-width: 739px) {
    .menu-pc, .menu-tablet, .find, .logo, .nav-bar .find, nav.sub-nav {
        display: none;
    }

    /* Navigation */
    .nav-bar {
        position: fixed;
        width: 100vw;
    }

    .menu-mobile {
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menu-mobile .fa-bars {
        position: relative;
        color: white;
        font-size: 20px;
        padding: 13px 20px;
        cursor: pointer;
    }

    .personal {
        width: 30%;
    }

    ul.menu.open {
        display: block;
    }

    ul.menu {
        position: absolute;
        display: none;
        width: 100vw;
        height: auto;
        padding: 30px 0px;
        line-height: 50px;
        top: 100%;
        left: 0%;
        align-items: center;
        justify-content: center;
        text-align: center;
        -webkit-backdrop-filter: blur(30px);
        backdrop-filter: blur(30px);
        box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
        border: 2px solid rgba(0, 0, 0, 0.18);
        background-color:rgb(86, 86, 86, 0.18);
    }

    .menu-mobile .find {
        display: flex;
        position: relative;
        cursor: pointer;
        width: 80%;
        margin: 20px auto;
    }

    .find input {
        padding: 5px 5px 5px 40px;
        border-radius: 15px;
        color: white;
        font-size: 1em;
    }

    .menu a {
        letter-spacing: 3px;
    }

    /* Container section */
    p {
        letter-spacing: normal;
    }  

    /* Footer */
    footer {
        padding: 20px 5px;
    }
    
    footer .nav-bar_footer li a {
        font-size: 1.1em;
        margin: 7px;
    }
}