* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Bebas Neue, sans-serif;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../Assets/Fonts/BebasNeue-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans';
    src: url('../Assets/Fonts/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
}

/* Navigation section */
.menu-tablet, .menu-mobile, .fa-bars, .container-search-tablet {
    display: none;
}

.menu-pc {
    width: 75%;
    display: flex;
    gap: 11px;
}

i.fa-solid.fa-magnifying-glass {
    font-size: 15px;
    color: white;
    position: absolute;
    left: 4%;
    top: 12px;
}

i.fa-regular.fa-bell {
    font-size: 1.2rem;
    color: white;
    padding: 10px 10%;
    transition: 0.5s ease;
}

i.fa-regular.fa-bell:hover {
    color: red;
    cursor: pointer;
}

.find {
    display: flex;
    position: relative;
    cursor: pointer;
    width: 30%;
}

.personal {
    width: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

li.cap-1 {
    padding: 1%;
    list-style: none;
    font-family: Open Sans;
}

li.cap-1:hover a {
    color: red;
}

ul.menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 70px;
}

.logo {
    width: 10%;
    cursor: pointer;
}

nav.nav-bar {
    padding: 10px 2.5% 10px 1.5%;
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    position: fixed;
    z-index: 9999;
}

.logo img {
    width: 100%;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 8% 0px;
    transition: 0.5s ease;
}

.personal img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid transparent;
    transition: 0.1s ease;
}

.personal img:hover {
    cursor: pointer;
    border: 3px solid transparent;
}

.find input {
    padding: 5px 5px 5px 30px;
    border-radius: 25px;
    color: white;
    background-color: #333;
    border: 1px solid #333;
    width: 100%;
}

#here {
    border: 1px solid white;
    border-radius: 25px;
    width: 100px;
    background-color: white;
}

#here a {
    color: black;
}

/* Slider section */
.container {
    width: 100%;
    height: auto;
    padding-top: 65px;
    gap: 10px;
    overflow: hidden;
}

.slider {
    width: 90%;
    height: 100vh;
    position: relative;
    margin: auto;
}

.slider .list .item {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}

.slider .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.slider .list .item .content {
    position: absolute;
    top: 18%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: white;
    text-shadow: 0 5px 10px #0004;
}

.slider .list .item .content .title1, 
.slider .list .item .content .title2 {
    font-size: 5em;
    font-weight: bold;
    line-height: 1em;
}

.slider .list .item .content .title2 {
    color: #14ff72cb;
}

.slider .list .item .content .description {
    font-size: 1.2em;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.slider .list .item .content .button {
    margin-top: 20px;
}

.slider .list .item .content .button button {
    border: none;
    background-color: #eee;
    padding: 11px 25px;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 2px;
    transition: 0.4s ease;
    border-radius: 20px;
}

.slider .list .item .content .button button:hover {
    background-color: rgb(44, 44, 44);
    color: white;
}

.thumbnail {
    position: absolute;
    display: flex;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 3;
    gap: 20px;
}

.thumbnail .item {
    width: 180px;
    height: 250px;
    flex-shrink: 0;
    position: relative;
    box-shadow: 15px 15px 5px rgb(0 0 0 / 20%);
}

.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
}

.nextPrevArrows {
    position: absolute;
    top: 70%;
    right: 52%;
    z-index: 3;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 20px;
    align-items: center;
}

.nextPrevArrows button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(56, 56, 56, 0.333);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
    transition: 0.3s ease;
}

.nextPrevArrows button:hover {
    background-color: rgb(44, 44, 44);
}

.slider .list .item:nth-child(1) {
    z-index: 1;
}

.slider .list .item:nth-child(1) .content .title1,
.slider .list .item:nth-child(1) .content .title2,
.slider .list .item:nth-child(1) .content .description,
.slider .list .item:nth-child(1) .content .button {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    will-change: transform, filter, opacity;
    animation: showContent 0.5s 1s linear 1 forwards;
}

@keyframes showContent {
    to {
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.slider .list .item .content .title1 {
    animation-delay: 0.4s;
}

.slider .list .item .content .title2 {
    animation-delay: 0.6s;
}

.slider .list .item .content .description {
    animation-delay: 0.8s;
}

.slider .list .item .content .button {
    animation-delay: 1s;
}

@keyframes showImage {
    to {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
}

.slider .next .thumbnail .item:nth-last-child(1) {
    overflow: hidden;
    will-change: width, opacity;
    animation: showThumbnail 0.5s linear 1 forwards;
}

@keyframes showThumbnail {
    from {
        width: 0;
        opacity: 0;
    }
}

.slider .next .thumbnail {
    will-change: transform;
    animation: effectNext 0.5s linear 1 forwards;
}

@keyframes effectNext {
    from {
        transform: translateX(150px);
    }
}

.slider .prev .list .item:nth-child(2) {
    z-index: 2;
}

.slider .prev .list .item:nth-child(2) img {
    position: absolute;
    bottom: 0;
    left: 0;
    will-change: width, height, bottom, left;
    animation: outFrame 0.5s linear 1 forwards;
}

@keyframes outFrame {
    to {
        width: 180px;
        height: 250px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

@keyframes contentOut {
    to {
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

/* Carousel section */
.carousel-container {
    padding: 0px 10px ;
    position: relative;
    scroll-behavior: smooth;
  }

  .carousel-container h3 {
    color: rgb(213, 213, 213);
    font-weight: bold;
    margin: 30px 0px 10px 1%;
  }
  
  .carousel {
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
  }
  
  .carousel img {
    height: 20vh;
    object-fit: cover;
    width: calc(100% / 5.5);
    margin-left: 10px;
    border-radius: 15px;
  }

  .carousel img:first-child {
    margin-left: 0px;
  }
  
  .carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
  }
  
  .carousel.dragging img {
    pointer-events: none;
  }
  
  .carousel-container i {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    background-color: rgba(56, 56, 56, 0.333);
    color: rgb(225, 225, 225);
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.2rem;
  }

  .carousel-container i:hover {
    background-color: rgba(32, 32, 32, 0.466);
    color: white;
  }
  
  .carousel-container i:first-child {
    left: 0px;
    display: none;
  }
  
  .carousel-container i:last-child {
    right: 0px;
  }

/* Footer section */
footer {
    position: relative;
    width: 100%;
    display: flex;
    background-color: #282828;
    min-height: 100px;
    padding: 20px 50px;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social_icons, footer .nav-bar_footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    flex-wrap: nowrap;
}

footer .social_icons li, footer .nav-bar_footer li {
    list-style: none;
}

footer .social_icons li a {
    font-size: 2em;
    color: white;
    margin: 0px 10px;
    display: inline-block;
    transition: 0.5s ease;
}

footer .social_icons li a:hover {
    transform: translateY(-10px);
}

footer .nav-bar_footer li a {
    font-size: 1.2em;
    color: white;
    margin: 0px 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}

footer .nav-bar_footer li a:hover {
    opacity: 1;
}

footer p {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../Assets/Images/wave.png);
    background-size: 1000px 100px;
}

footer .wave#wave1 {
    z-index: 10;
    opacity: 1;
    bottom: 0px;
    animation: animateWave_1 4s linear infinite;
}

footer .wave#wave2 {
    z-index: 9;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_2 4s linear infinite;
}

footer .wave#wave3 {
    z-index: 10;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave_1 3s linear infinite;
}

footer .wave#wave4 {
    z-index: 9;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_2 3s linear infinite;
}

@keyframes animateWave_1 {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-position-x: 0px;
    }
}

@keyframes animateWave_2 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    /* Navigation */
    .menu-pc, .logo, .fa-bars {
        display: none;
    }

    nav.nav-bar {
        position: fixed;
        justify-content: space-between;
        z-index: 9999;
    }

    .menu-tablet {
        width: 80%;
        display: flex;
        gap: 50px;
    }

    .menu-tablet .menu {
        width: 100%;
        gap: 20px;
    }

    .menu a {
        font-size: 100%;
        font-family: Open Sans;
    }

    .personal {
        width: 20%;
    }

    /* Slider */
    .slider {
        width: 100%;
        height: 90vh;
    }

    /* Carousel */
    .carousel img {
        height: 13.5vh;
        width: calc(100% / 3.5);
    }
}

/* Moblie */
@media (max-width: 739px) {
    .menu-pc, .menu-tablet, .find, .logo, .nav-bar .find, nav.sub-nav {
        display: none;
    }

    /* Navigation */
    .nav-bar {
        position: fixed;
        width: 100vw;
    }

    .menu-mobile {
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menu-mobile .fa-bars {
        position: relative;
        color: white;
        font-size: 20px;
        padding: 13px 20px;
        cursor: pointer;
    }

    .personal {
        width: 30%;
    }

    ul.menu.open {
        display: block;
    }

    ul.menu {
        position: absolute;
        display: none;
        width: 100vw;
        height: auto;
        padding: 30px 0px;
        line-height: 50px;
        top: 100%;
        left: 0%;
        align-items: center;
        justify-content: center;
        text-align: center;
        -webkit-backdrop-filter: blur(30px);
        backdrop-filter: blur(30px);
        box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
        border: 2px solid rgba(0, 0, 0, 0.18);
        background-color:rgb(86, 86, 86, 0.18);
    }

    .menu-mobile .find {
        display: flex;
        position: relative;
        cursor: pointer;
        width: 80%;
        margin: 20px auto;
    }

    .find input {
        padding: 5px 5px 5px 40px;
        border-radius: 15px;
        color: white;
        font-size: 1em;
    }

    .menu a {
        letter-spacing: 3px;
    }

    /* Slider section */
    .slider {
        width: 100%;
        height: 90vh;
    }

    .slider .list .item .content {
        padding-right: 0;
    }

    .slider .list .item .content .title1 {
        font-size: 30px;
    }

    .slider .list .item .content .title1, .slider .list .item .content .title2 {
        font-size: 4em;
    }

    /* Carousel */
    .carousel img {
        height: 10vh;
        width: calc(100% / 2.5);
    }

    /* Footer */
    footer {
        padding: 20px 5px;
    }

    footer .nav-bar_footer li a {
        font-size: 1.1em;
        margin: 7px;
    }
}